.ticket__header{
	display: flex;
	flex-direction: column;
	background-color: rgb(43, 127, 224);
	color: #fff;
	padding: 10px;
}

.ticket__container{
	display: flex;
	justify-content: space-between;
}

.ticket__text{
	align-self: flex-end;
	margin: 0;
}

.ticket__line{
	border-bottom: 2px solid rgb(43, 127, 224);
	margin-top: 20px;
	margin-bottom: 20px;
}

.ticket__button{
	background-color: rgb(224, 140, 43);
	width: 605px;
	height: 37px;
	border: none;
	outline: none;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
}