.filters {
  display: flex;
	flex-direction: column;
	border: none;
}

.filters__option {
	margin: 0;
}

.filters__option_for_reduction{
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
	width: 150px;
}

.filters__input_for_space {
margin-bottom: 15px;
}

.filters__wrapper{
	display: flex;
}